@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Righteous&family=Sarala&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: radial-gradient(162.57% 50% at 50% 50%, #171642 0%, #191919 100%);
}

/* .logo{
    align-items: center;
    background-color: black;
} */

/* .navbar{
    align-content: right;
    background-color: blue;
} */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #1A1A1A;
}

.cabeçalho-menu-logo {
    height: 3.5rem;
}

.cabeçalho-navbar-menu {
    display: flex;
    gap: 32px;
}

.cabeçalho-navbar-menu-item {
    font-family: 'sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #4d4d4d;
}

.conteudo-principal {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
}

.conteudo-principal-titulo {    
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 5px 20px rgba(255, 255, 255, 0.5);
}

.conteudo-principal-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px #2F2325;
    border-radius: 10px;
    color: #2F2325;

    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    
    display: flex;
    align-items: center;
    text-align: center;
}

.conteudo-principal-imagem {
    height: 20rem;
}

.conteudo-principal-subtitulo {
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    text-align: right;

    color: #FFFFFF;

text-shadow: 0px 5px 20px rgba(255, 255, 255, 0.5);
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes-projetos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.botoes-projetos-prjtuxui {
    border: 4px solid #BDC4FF;
    box-sizing: border-box;
    filter: drop-shadow(0px 5px 20px rgba(255, 255, 255, 0.3));
    border-radius: 4px;
    background-color: Transparent;
    background-repeat:no-repeat;

}

.text-btn {
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 30px;
    font-family: Reem Kufi;
    height: 130px;
    width: 230px;
}

.botoes-titulo {
    color: white;
    font-family: Reem Kufi;
    font-size: 35px;
    margin-top: 2rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1A;
    font-size: 60px;
    font-family: Quicksand;
    color: white;
}