@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* .logo{
    align-items: center;
    background-color: black;
} */

/* .navbar{
    align-content: right;
    background-color: blue;
} */

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabeçalho-menu-logo {
    height: 100px;
}

.cabeçalho-navbar-menu {
    display: flex;
    gap: 32px;
}

.cabeçalho-navbar-menu-item {
    font-family: 'sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.titulo1 {
    font-family: 'Righteous', cursive;
}

.titulo2 {
    font-family: 'sarala', sans-serif;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7
}

.conteudo-principal-subtitulo {
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudo-principal-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px #2F2325;
    border-radius: 10px;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    gap: 24px;
}

.conteudo-secundario-escrito-titulo {
    border-top: 0.4px solid #FFF2E7
    padding-top: 48px;
    margin-bottom: 16px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    
}