@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* .logo{
    align-items: center;
    background-color: black;
} */

/* .navbar{
    align-content: right;
    background-color: blue;
} */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #1A1A1A;
}

.cabeçalho-menu-logo {
    height: 100px;
}

.cabeçalho-navbar-menu {
    display: flex;
    gap: 32px;
}

.cabeçalho-navbar-menu-item {
    font-family: 'sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.titulo1 {
    font-family: 'Righteous', cursive;
}

.titulo2 {
    font-family: 'sarala', sans-serif;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
}

.conteudo-principal-titulo {    
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 5px 20px rgba(255, 255, 255, 0.5);
}

.conteudo-principal-subtitulo {
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudo-principal-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px #2F2325;
    border-radius: 10px;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.conteudo-principal-imagem {
    height: 20rem;
}

.botoes-projetos-pjtuxui {
    border: 4px solid #BDC4FF;
    box-sizing: border-box;
    filter: drop-shadow(0px 5px 20px rgba(255, 255, 255, 0.3));
    border-radius: 4px;
    background-color: Transparent;
    background-repeat:no-repeat;

    text-align: center;
    font-size: 24px;
    color: white;
    padding: 30px;
}
    
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1A;
}